@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 140 40% 80%;
    --card: 0 0% 8%;
    --card-foreground: 140 40% 80%;
    --popover: 0 0% 8%;
    --popover-foreground: 140 40% 80%;
    --primary: 140 80% 50%;
    --primary-foreground: 140 20% 10%;
    --secondary: 140 10% 20%;
    --secondary-foreground: 140 40% 80%;
    --muted: 140 10% 15%;
    --muted-foreground: 140 15% 50%;
    --accent: 50 100% 60%;
    --accent-foreground: 50 10% 10%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --success: 140 70% 40%;
    --danger: 0 70% 50%;
    --border: 140 20% 20%;
    --input: 140 10% 22%;
    --ring: 140 80% 50%;
    --chart-1: hsl(var(--primary));
    --chart-2: hsl(var(--accent));
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.3rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
